---
import Layout from '../../layouts/Layout-fs.astro';
import { getAllImages, getImageById } from '../../lib/dato-cms';

import type { Image } from '../../types';

export async function getStaticPaths() {
  const images: Image[] = await getAllImages();

  return images.map((image) => {
    return {
      params: {
        id: image.id,
      },
    };
  });
}

const { id } = Astro.params;

const image: Image | undefined = await getImageById(id as string);
export const prerender = true;
---

<Layout>
  <section class='bg-orange-500'>
    <div
      class='h-screen bg-contain bg-center bg-no-repeat'
      style={`background-image: url('${image.url}')`}
      transition:name={`image-${image.id}`}
    >
    </div>
  </section>
</Layout>
