---
//A hero section with a background image and a title
---

<section class='hero'>
  <div class='hero__background'>
    <img
      src='https://source.unsplash.com/random/1600x900'
      alt='A random image from unsplash.com'
    />
  </div>
  <div class='hero__content'>
    <h1 class='hero__title'>A hero section</h1>
  </div>
</section>
