---
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<section class='section'>
  <div class='container'>
    <h1 class='title'>{title}</h1>
    <div class='subtitle' set:html={content} />
  </div>
</section>
