---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav class='navbar  '>
  <div class='navbar-start'>
    <a class='text-xl' href='/'>
      <img src="/images/logo-iso-lumalux.png" alt="logo" class="h-28" />
    </a>
  </div>
  <div class='navbar-center hidden lg:flex'></div>
  <div class='navbar-end'></div>
</nav>
