---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<nav class='navbar'>
  <div class='navbar-start'></div>
  <div class='navbar-center hidden lg:flex'></div>
  <div class='navbar-end'></div>
</nav>
