---
import type { Section } from '../types';
interface Props {
  sections: Section[];
}

const { sections } = Astro.props;
---

<section class='flex items-start place-content-center'>
  {
    sections.map((section) => (
      <div class='card'>
        <h2>{section.title}</h2>
        <p>{section.description}</p>
        {section.image && <img src={section.image.url} />}
      </div>
    ))
  }
</section>
